body {font-size: 15px;font-family: Arial, Helvetica, sans-serif;color: rgb(75, 69, 69);background-color: cornsilk;}
		
li {font-style: italic;font-weight: normal;}

a {font-size: 18px;color: rgb(95, 158, 160); text-decoration: none;}

a:hover{text-decoration: underline;}

/* these styles were created for unique purposes */

.resumeheaderstyle {font-weight: bold; font-style: normal;}

.underline {text-decoration: underline;}

.homebg {background-image: url('images/cowboy bg 2.png');}

.center {text-align: center;}

.homepagelettercolor {color: whitesmoke;}

.homeheadingcolor{color: rgb(175, 67, 247);}

.sentencefontsize{font-size: 24px;}

.bottomborder{border-bottom: rgb(95, 158, 160); border-width: 2px; border-style: solid; border-top: none; border-left: none; border-right: none;}

.pic1padding{padding-left: 90px;padding-right: 45px;}

.pic2padding{padding-left: 45px;padding-right: 45px;}

.pic3padding{padding-left: 45px;padding-right: 90px;}

.resumepadding{padding-left: 515px;}

.copyright{color: lightslategray;}

.bold{font-weight: bold;}

.divbackground{border-style: ridge; margin-left: 200px; margin-right: 200px;}

.header {
    background-color: #ffffff;
    min-width: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
